@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $text;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
}

p,
ul,
ol {
  margin: 0;
}

a,
button,
input,
textarea,
select {
  font: inherit;
}
